*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/app/reportes/
storage/app/reportes/**/*.md
storage/app/reportes/**/*.json
storage/app/reportes/importacion-sisees/
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
